# grammar: source.gts

import type { TemplateOnlyComponent } from '@glimmer/component';
#           ^------------------------ meta.block.ts
#           ^ punctuation.definition.block.ts
#             ^-------------------- variable.other.readwrite.ts
#                                   ^ punctuation.definition.block.ts
#                                     ^--- variable.other.readwrite.ts
#                                          ^------------------- string.quoted.single.ts
#                                          ^ punctuation.definition.string.begin.ts
#                                                             ^ punctuation.definition.string.end.ts
#                                                              ^ punctuation.terminator.statement.ts

const Greet: TemplateOnlyComponent<{ name: string }> = <template>
#^--- variable.other.readwrite.ts
#     ^---- entity.name.label.ts
#          ^ punctuation.separator.label.ts
#            ^-------------------- variable.other.readwrite.ts
#                                 ^ keyword.operator.relational.ts
#                                  ^--------------- meta.block.ts
#                                  ^ punctuation.definition.block.ts
#                                    ^--- entity.name.label.ts
#                                        ^ punctuation.separator.label.ts
#                                          ^----- variable.other.readwrite.ts
#                                                 ^ punctuation.definition.block.ts
#                                                  ^ keyword.operator.relational.ts
#                                                    ^ keyword.operator.assignment.ts
#                                                     ^---------- meta.js.embeddedTemplateWithoutArgs
#                                                      ^ punctuation.definition.tag.html
#                                                       ^------- entity.name.tag.other.html
#                                                               ^ punctuation.definition.tag.html
  <p>Hello, {{@name}}!</p>
#<0----------------------- meta.js.embeddedTemplateWithoutArgs
# ^-- meta.tag.any.ember-handlebars
# ^ punctuation.definition.tag
#  ^ entity.name.tag.html.ember-handlebars
#   ^ punctuation.definition.tag
#           ^-------- entity.expression.ember-handlebars
#                     ^--- meta.tag.any.ember-handlebars
#                     ^- punctuation.definition.tag
#                       ^ entity.name.tag.html.ember-handlebars
#                        ^ punctuation.definition.tag
</template>
#<0-------- meta.js.embeddedTemplateWithoutArgs
#<0 punctuation.definition.tag.html
# ^------- entity.name.tag.other.html
#         ^ punctuation.definition.tag.html

// From https://rfcs.emberjs.com/id/0779-first-class-component-templates
#<0 comment.line.double-slash.ts
#<0 punctuation.definition.comment.ts
