(* grammar: source.ocaml *)


utop # type person = { name: string ; age: int ; human : bool };;
(*   ^ punctuation.definition.tag *)
type person = { name : string; age : int; human : bool; }

utop # let david = { name = "david" ; age = 32 ; human = false };;
(*   ^ punctuation.definition.tag *)
(*     ^-- keyword.control markup.underline *)
val david : person = {name = "david"; age = 32; human = false}
(*<0 support.type markup.underline *)

utop # let mary = { david with name = "mary" };;
(*   ^ punctuation.definition.tag *)
(*     ^-- keyword.control markup.underline *)
val mary : person = {name = "mary"; age = 32; human = false}
(*<0 support.type markup.underline *)

utop # let toggle_human (p : person) = { p with human = not p.human };;
(*   ^ punctuation.definition.tag *)
(*     ^-- keyword.control markup.underline *)
val toggle_human : person -> person = <fun>
(*<0 support.type markup.underline *)

utop # let () =
(*   ^ punctuation.definition.tag *)
(*     ^-- keyword.control markup.underline *)
  let david' = toggle_human david in
(*^-- keyword.control markup.underline *)
  if david'.human then
    print_endline "david is human"
  else
    print_endline "david is not human"
;;
david is human

(** From https://o1-labs.github.io/ocamlbyexample/basics-records.html *)
(*<0-------------------------------------------------------------------- comment constant.regexp meta.separator.markdown *)
