; grammar: source.scheme

(define WINDOW-WIDTH 150)
;<0---------------------- meta.expression.scheme
;<0 punctuation.section.expression.begin.scheme
;^---------------------- meta.declaration.variable.scheme
;                       ^ punctuation.section.expression.end.scheme
(define WINDOW-HEIGHT 180)
;<0----------------------- meta.expression.scheme
;<0 punctuation.section.expression.begin.scheme
;^----------------------- meta.declaration.variable.scheme
;                        ^ punctuation.section.expression.end.scheme

; A world is a number.
;<0------------------- comment.line.semicolon.scheme
;<0 punctuation.definition.comment.scheme
; Its display is a blue disk of that size.
;<0--------------------------------------- comment.line.semicolon.scheme
;<0 punctuation.definition.comment.scheme
; show-world : world -> image
;<0-------------------------- comment.line.semicolon.scheme
;<0 punctuation.definition.comment.scheme
(define (show-world diameter)
;<0-------------------------- meta.expression.scheme
;<0 punctuation.section.expression.begin.scheme
;^--------------------------- meta.declaration.procedure.scheme
  (circle diameter "solid" "blue"))
;<0-------------------------------- meta.expression.scheme
;<0------------------------------- meta.declaration.procedure.scheme
; ^------------------------------- meta.expression.scheme
; ^ punctuation.section.expression.begin.scheme
;                  ^------ string.quoted.double.scheme
;                  ^ punctuation.definition.string.begin.scheme
;                        ^ punctuation.definition.string.end.scheme
;                          ^----- string.quoted.double.scheme
;                          ^ punctuation.definition.string.begin.scheme
;                               ^ punctuation.definition.string.end.scheme
;                                ^ punctuation.section.expression.end.scheme
;                                 ^ punctuation.section.expression.end.scheme
"Examples of show-world:"
;<0---------------------- string.quoted.double.scheme
;<0 punctuation.definition.string.begin.scheme
;                       ^ punctuation.definition.string.end.scheme
(show-world 1) "should be a blue dot"
;<0----------- meta.expression.scheme
;<0 punctuation.section.expression.begin.scheme
;           ^ constant.numeric.scheme
;            ^ punctuation.section.expression.end.scheme
;              ^--------------------- string.quoted.double.scheme
;              ^ punctuation.definition.string.begin.scheme
;                                   ^ punctuation.definition.string.end.scheme
(show-world 20) "should be" (circle 20 "solid" "blue")
;<0------------ meta.expression.scheme
;<0 punctuation.section.expression.begin.scheme
;           ^- constant.numeric.scheme
;             ^ punctuation.section.expression.end.scheme
;               ^---------- string.quoted.double.scheme
;               ^ punctuation.definition.string.begin.scheme
;                         ^ punctuation.definition.string.end.scheme
;                           ^------------------------- meta.expression.scheme
;                           ^ punctuation.section.expression.begin.scheme
;                                   ^- constant.numeric.scheme
;                                      ^------ string.quoted.double.scheme
;                                      ^ punctuation.definition.string.begin.scheme
;                                            ^ punctuation.definition.string.end.scheme
;                                              ^----- string.quoted.double.scheme
;                                              ^ punctuation.definition.string.begin.scheme
;                                                   ^ punctuation.definition.string.end.scheme
;                                                    ^ punctuation.section.expression.end.scheme

; The next world is one larger.
;<0---------------------------- comment.line.semicolon.scheme
;<0 punctuation.definition.comment.scheme
; next-world : world -> world
;<0-------------------------- comment.line.semicolon.scheme
;<0 punctuation.definition.comment.scheme
(define (next-world diameter)
;<0-------------------------- meta.expression.scheme
;<0 punctuation.section.expression.begin.scheme
;^--------------------------- meta.declaration.procedure.scheme
  (+ 1 diameter))
;<0-------------- meta.expression.scheme
;<0------------- meta.declaration.procedure.scheme
; ^------------- meta.expression.scheme
; ^ punctuation.section.expression.begin.scheme
;  ^ keyword.operator.arithmetic.scheme
;    ^ constant.numeric.scheme
;              ^ punctuation.section.expression.end.scheme
;               ^ punctuation.section.expression.end.scheme
"Examples of next-world:"
;<0---------------------- string.quoted.double.scheme
;<0 punctuation.definition.string.begin.scheme
;                       ^ punctuation.definition.string.end.scheme
(next-world 7) "should be" 8
;<0----------- meta.expression.scheme
;<0 punctuation.section.expression.begin.scheme
;           ^ constant.numeric.scheme
;            ^ punctuation.section.expression.end.scheme
;              ^---------- string.quoted.double.scheme
;              ^ punctuation.definition.string.begin.scheme
;                        ^ punctuation.definition.string.end.scheme

"Now let's start the animation!"
;<0----------------------------- string.quoted.double.scheme
;<0 punctuation.definition.string.begin.scheme
;                              ^ punctuation.definition.string.end.scheme

(big-bang WINDOW-WIDTH WINDOW-HEIGHT 1 1)
;<0-------------------------------------- meta.expression.scheme
;<0 punctuation.section.expression.begin.scheme
;                                    ^ constant.numeric.scheme
;                                      ^ constant.numeric.scheme
;                                       ^ punctuation.section.expression.end.scheme
(on-update-event show-world)
;<0------------------------- meta.expression.scheme
;<0 punctuation.section.expression.begin.scheme
;                          ^ punctuation.section.expression.end.scheme
(on-tick-event next-world)
;<0----------------------- meta.expression.scheme
;<0 punctuation.section.expression.begin.scheme
;                        ^ punctuation.section.expression.end.scheme

; From https://home.adelphi.edu/sbloch/class/archive/160/spring2005/examples/
;<0-------------------------------------------------------------------------- comment.line.semicolon.scheme
;<0 punctuation.definition.comment.scheme
