# grammar: source.sdbl

ВЫБРАТЬ
#<0---- keyword.control.sdbl
    Товары.Код КАК Код,
#              ^-- keyword.control.sdbl
#                     ^ keyword.operator.sdbl
    Товары.Наименование КАК Наименование,
#                       ^-- keyword.control.sdbl
#                                       ^ keyword.operator.sdbl
    Товары.Артикул КАК Артикул,
#                  ^-- keyword.control.sdbl
#                             ^ keyword.operator.sdbl
    Товары.ФайлКартинки КАК Картинка,
#                       ^-- keyword.control.sdbl
#                                   ^ keyword.operator.sdbl
    Товары.Описание КАК Описание,
#                   ^-- keyword.control.sdbl
#                               ^ keyword.operator.sdbl
    Товары.Вид КАК Вид,
#              ^-- keyword.control.sdbl
#                     ^ keyword.operator.sdbl
    ЦеныТоваров.Цена КАК Цена
#                    ^-- keyword.control.sdbl
ИЗ
#<0 keyword.control.sdbl
    РегистрСведений.ЦеныТоваров КАК ЦеныТоваров
#                               ^-- keyword.control.sdbl
        ЛЕВОЕ СОЕДИНЕНИЕ Справочник.Товары КАК Товары
#       ^--------------- keyword.control.sdbl
#                                          ^-- keyword.control.sdbl
        ПО ЦеныТоваров.Товар = Товары.Ссылка
#       ^- keyword.control.sdbl
#                            ^ keyword.operator.comparison.sdbl
ГДЕ
#<0 keyword.control.sdbl
    Товары.ЭтоГруппа = ЛОЖЬ
#                    ^ keyword.operator.comparison.sdbl
#                      ^--- constant.language.sdbl
    И ЦеныТоваров.ВидЦен = &ВидЦен
#   ^ keyword.operator.logical.sdbl
#                        ^ keyword.operator.comparison.sdbl
#                          ^------ variable.parameter.sdbl

УПОРЯДОЧИТЬ ПО
#<0----------- keyword.control.sdbl
    Вид,
#      ^ keyword.operator.sdbl
    Товары.Родитель.Код,
#                      ^ keyword.operator.sdbl
    Код

// From: https://github.com/github-linguist/linguist/blob/main/samples/1C%20Enterprise/Catalog.%D0%A2%D0%BE%D0%B2%D0%B0%D1%80%D1%8B.Command.%D0%9F%D0%B5%D1%87%D0%B0%D1%82%D1%8C%D0%9F%D1%80%D0%B0%D0%B9%D1%81%D0%9B%D0%B8%D1%81%D1%82%D0%B0.CommandModule.bsl
#<0----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- comment.line.double-slash.sdbl
