(* grammar: source.wolfram *)

iStochasticityAssumptions [sm_List] :=
(*<0--------------------- variable.function.wolfram *)
(*                        ^-------- meta.brackets.wolfram *)
(*                        ^ punctuation.section.brackets.begin.wolfram *)
(*                         ^- symbol.unrecognized.wolfram *)
(*                           ^ keyword.operator.Blank.wolfram *)
(*                            ^--- support.function.builtin.wolfram *)
(*                                ^ punctuation.section.brackets.end.wolfram *)
(*                                  ^- keyword.operator.assignment.SetDelayed.wolfram *)
    SquareMatrixQ[sm] && Element[DeleteDuplicates[Flatten[sm]], Reals] &&
(*  ^------------ support.function.builtin.wolfram *)
(*               ^--- meta.brackets.wolfram *)
(*               ^ punctuation.section.brackets.begin.wolfram *)
(*                ^- symbol.unrecognized.wolfram *)
(*                  ^ punctuation.section.brackets.end.wolfram *)
(*                    ^- keyword.operator.logical.wolfram *)
(*                       ^------ support.function.builtin.wolfram *)
(*                              ^------------------------------------- meta.brackets.wolfram *)
(*                              ^ punctuation.section.brackets.begin.wolfram *)
(*                               ^--------------- support.function.builtin.wolfram *)
(*                                               ^------------ meta.brackets.wolfram *)
(*                                               ^ punctuation.section.brackets.begin.wolfram *)
(*                                                ^------ support.function.builtin.wolfram *)
(*                                                       ^--- meta.brackets.wolfram *)
(*                                                       ^ punctuation.section.brackets.begin.wolfram *)
(*                                                        ^- symbol.unrecognized.wolfram *)
(*                                                          ^ punctuation.section.brackets.end.wolfram *)
(*                                                           ^ punctuation.section.brackets.end.wolfram *)
(*                                                            ^ keyword.operator.Comma.wolfram punctuation.separator *)
(*                                                              ^---- constant.language.wolfram *)
(*                                                                   ^ punctuation.section.brackets.end.wolfram *)
(*                                                                     ^- keyword.operator.logical.wolfram *)
    Apply [And, Map[#>=0&, sm, {2}], {0, 1}] && Apply [And, Thread[Total[sm, {2}] == 1]]
(*  ^---- support.function.builtin.wolfram *)
(*        ^--------------------------------- meta.brackets.wolfram *)
(*        ^ punctuation.section.brackets.begin.wolfram *)
(*         ^-- support.function.builtin.wolfram *)
(*            ^ keyword.operator.Comma.wolfram punctuation.separator *)
(*              ^-- support.function.builtin.wolfram *)
(*                 ^--------------- meta.brackets.wolfram *)
(*                 ^ punctuation.section.brackets.begin.wolfram *)
(*                  ^ keyword.other.Slot.wolfram *)
(*                   ^- keyword.operator.wolfram *)
(*                     ^ constant.numeric.wolfram *)
(*                      ^ keyword.operator.Function.wolfram *)
(*                       ^ keyword.operator.Comma.wolfram punctuation.separator *)
(*                         ^- symbol.unrecognized.wolfram *)
(*                           ^ keyword.operator.Comma.wolfram punctuation.separator *)
(*                             ^-- meta.braces.wolfram *)
(*                             ^ punctuation.section.braces.begin.wolfram *)
(*                              ^ constant.numeric.wolfram *)
(*                               ^ punctuation.section.braces.end.wolfram *)
(*                                ^ punctuation.section.brackets.end.wolfram *)
(*                                 ^ keyword.operator.Comma.wolfram punctuation.separator *)
(*                                   ^----- meta.braces.wolfram *)
(*                                   ^ punctuation.section.braces.begin.wolfram *)
(*                                    ^ constant.numeric.wolfram *)
(*                                     ^ keyword.operator.Comma.wolfram punctuation.separator *)
(*                                       ^ constant.numeric.wolfram *)
(*                                        ^ punctuation.section.braces.end.wolfram *)
(*                                         ^ punctuation.section.brackets.end.wolfram *)
(*                                           ^- keyword.operator.logical.wolfram *)
(*                                              ^---- support.function.builtin.wolfram *)
(*                                                    ^--------------------------------- meta.brackets.wolfram *)
(*                                                    ^ punctuation.section.brackets.begin.wolfram *)
(*                                                     ^-- support.function.builtin.wolfram *)
(*                                                        ^ keyword.operator.Comma.wolfram punctuation.separator *)
(*                                                          ^----- support.function.builtin.wolfram *)
(*                                                                ^-------------------- meta.brackets.wolfram *)
(*                                                                ^ punctuation.section.brackets.begin.wolfram *)
(*                                                                 ^---- support.function.builtin.wolfram *)
(*                                                                      ^-------- meta.brackets.wolfram *)
(*                                                                      ^ punctuation.section.brackets.begin.wolfram *)
(*                                                                       ^- symbol.unrecognized.wolfram *)
(*                                                                         ^ keyword.operator.Comma.wolfram punctuation.separator *)
(*                                                                           ^-- meta.braces.wolfram *)
(*                                                                           ^ punctuation.section.braces.begin.wolfram *)
(*                                                                            ^ constant.numeric.wolfram *)
(*                                                                             ^ punctuation.section.braces.end.wolfram *)
(*                                                                              ^ punctuation.section.brackets.end.wolfram *)
(*                                                                                ^- keyword.operator.Equal.wolfram *)
(*                                                                                   ^ constant.numeric.wolfram *)
(*                                                                                    ^ punctuation.section.brackets.end.wolfram *)
(*                                                                                     ^ punctuation.section.brackets.end.wolfram *)

iStochasticityAssumptions[sm_SparseArray] := SquareMatrixQ[sm] &&
(*<0--------------------- variable.function.wolfram *)
(*                       ^--------------- meta.brackets.wolfram *)
(*                       ^ punctuation.section.brackets.begin.wolfram *)
(*                        ^- symbol.unrecognized.wolfram *)
(*                          ^ keyword.operator.Blank.wolfram *)
(*                           ^---------- support.function.builtin.wolfram *)
(*                                      ^ punctuation.section.brackets.end.wolfram *)
(*                                        ^- keyword.operator.assignment.SetDelayed.wolfram *)
(*                                           ^------------ support.function.builtin.wolfram *)
(*                                                        ^--- meta.brackets.wolfram *)
(*                                                        ^ punctuation.section.brackets.begin.wolfram *)
(*                                                         ^- symbol.unrecognized.wolfram *)
(*                                                           ^ punctuation.section.brackets.end.wolfram *)
(*                                                             ^- keyword.operator.logical.wolfram *)
    Apply[And, Thread[ DeleteDuplicates [ sm["NonzeroValues"] ~Join~ {sm["Background"]} ] >= 0 ] ] &&
(*  ^---- support.function.builtin.wolfram *)
(*       ^---------------------------------------------------------------------------------------- meta.brackets.wolfram *)
(*       ^ punctuation.section.brackets.begin.wolfram *)
(*        ^-- support.function.builtin.wolfram *)
(*           ^ keyword.operator.Comma.wolfram punctuation.separator *)
(*             ^----- support.function.builtin.wolfram *)
(*                   ^-------------------------------------------------------------------------- meta.brackets.wolfram *)
(*                   ^ punctuation.section.brackets.begin.wolfram *)
(*                     ^--------------- support.function.builtin.wolfram *)
(*                                      ^------------------------------------------------ meta.brackets.wolfram *)
(*                                      ^ punctuation.section.brackets.begin.wolfram *)
(*                                        ^- variable.function.wolfram *)
(*                                          ^---------------- meta.brackets.wolfram *)
(*                                          ^ punctuation.section.brackets.begin.wolfram *)
(*                                           ^-------------- string.quoted.double *)
(*                                           ^ punctuation.definition.string.begin *)
(*                                                         ^ punctuation.definition.string.end *)
(*                                                          ^ punctuation.section.brackets.end.wolfram *)
(*                                                            ^ keyword.operator.wolfram *)
(*                                                             ^--- support.function.builtin.wolfram *)
(*                                                                 ^ keyword.operator.wolfram *)
(*                                                                   ^----------------- meta.braces.wolfram *)
(*                                                                   ^ punctuation.section.braces.begin.wolfram *)
(*                                                                    ^- variable.function.wolfram *)
(*                                                                      ^------------- meta.brackets.wolfram *)
(*                                                                      ^ punctuation.section.brackets.begin.wolfram *)
(*                                                                       ^----------- string.quoted.double *)
(*                                                                       ^ punctuation.definition.string.begin *)
(*                                                                                  ^ punctuation.definition.string.end *)
(*                                                                                   ^ punctuation.section.brackets.end.wolfram *)
(*                                                                                    ^ punctuation.section.braces.end.wolfram *)
(*                                                                                      ^ punctuation.section.brackets.end.wolfram *)
(*                                                                                        ^- keyword.operator.wolfram *)
(*                                                                                           ^ constant.numeric.wolfram *)
(*                                                                                             ^ punctuation.section.brackets.end.wolfram *)
(*                                                                                               ^ punctuation.section.brackets.end.wolfram *)
(*                                                                                                 ^- keyword.operator.logical.wolfram *)
    Apply[And, Thread [Total [sm, {2}] = 1]]
(*  ^---- support.function.builtin.wolfram *)
(*       ^---------------------------------- meta.brackets.wolfram *)
(*       ^ punctuation.section.brackets.begin.wolfram *)
(*        ^-- support.function.builtin.wolfram *)
(*           ^ keyword.operator.Comma.wolfram punctuation.separator *)
(*             ^----- support.function.builtin.wolfram *)
(*                    ^-------------------- meta.brackets.wolfram *)
(*                    ^ punctuation.section.brackets.begin.wolfram *)
(*                     ^---- support.function.builtin.wolfram *)
(*                           ^-------- meta.brackets.wolfram *)
(*                           ^ punctuation.section.brackets.begin.wolfram *)
(*                            ^- symbol.unrecognized.wolfram *)
(*                              ^ keyword.operator.Comma.wolfram punctuation.separator *)
(*                                ^-- meta.braces.wolfram *)
(*                                ^ punctuation.section.braces.begin.wolfram *)
(*                                 ^ constant.numeric.wolfram *)
(*                                  ^ punctuation.section.braces.end.wolfram *)
(*                                   ^ punctuation.section.brackets.end.wolfram *)
(*                                     ^ keyword.operator.assignment.Set.wolfram *)
(*                                       ^ constant.numeric.wolfram *)
(*                                        ^ punctuation.section.brackets.end.wolfram *)
(*                                         ^ punctuation.section.brackets.end.wolfram *)

(* https://github.com/WolframResearch/vscode-wolfram/blob/master/docs/highlighting.png *)
(*<0------------------------------------------------------------------------------------- comment.block *)
(*<0 punctuation.definition.comment.wolfram *)
(*                                                                                     ^- punctuation.definition.comment.wolfram *)
