<!-- grammar: text.xml -->

<?xml version="1.0"?>
<!--<0--------------- meta.tag.preprocessor.xml -->
<!-- ^------- entity.other.attribute-name.xml -->
<!--          ^---- string.quoted.double.xml -->
<!--          ^ punctuation.definition.string.begin.xml -->
<!--            ^- meta.attribute.directive.vue -->
<!--            ^ punctuation.attribute-shorthand.bind.html.vue -->
<!--             ^ entity.other.attribute-name.html.vue -->
<!--              ^ punctuation.definition.string.end.xml -->
<catalog>
<!--<0--- meta.tag.xml -->
   <book id="bk101">
<!--<3-------------- meta.tag.xml -->
<!--     ^- entity.other.attribute-name.localname.xml -->
<!--        ^------ string.quoted.double.xml -->
<!--        ^ punctuation.definition.string.begin.xml -->
<!--              ^ punctuation.definition.string.end.xml -->
      <author>Gambardella, Matthew</author>
<!--  ^------- meta.tag.xml -->
<!--                              ^-------- meta.tag.xml -->
      <title>XML Developer's Guide</title>
<!--  ^------ meta.tag.xml -->
<!--                              ^------- meta.tag.xml -->
      <genre>Computer</genre>
<!--  ^------ meta.tag.xml -->
<!--                 ^------- meta.tag.xml -->
      <price>44.95</price>
<!--  ^------ meta.tag.xml -->
<!--              ^------- meta.tag.xml -->
      <publish_date>2000-10-01</publish_date>
<!--  ^------------- meta.tag.xml -->
<!--                          ^-------------- meta.tag.xml -->
      <description>An in-depth look at creating applications
<!--  ^------------ meta.tag.xml -->
      with XML.</description>
<!--           ^------------- meta.tag.xml -->
   </book>
<!--<3---- meta.tag.xml -->
   <book id="bk102">
<!--<3-------------- meta.tag.xml -->
<!--     ^- entity.other.attribute-name.localname.xml -->
<!--        ^------ string.quoted.double.xml -->
<!--        ^ punctuation.definition.string.begin.xml -->
<!--              ^ punctuation.definition.string.end.xml -->
      <author>Ralls, Kim</author>
<!--  ^------- meta.tag.xml -->
<!--                    ^-------- meta.tag.xml -->
      <title>Midnight Rain</title>
<!--  ^------ meta.tag.xml -->
<!--                      ^------- meta.tag.xml -->
      <genre>Fantasy</genre>
<!--  ^------ meta.tag.xml -->
<!--                ^------- meta.tag.xml -->
      <price>5.95</price>
<!--  ^------ meta.tag.xml -->
<!--             ^------- meta.tag.xml -->
      <publish_date>2000-12-16</publish_date>
<!--  ^------------- meta.tag.xml -->
<!--                          ^-------------- meta.tag.xml -->
      <description>A former architect battles corporate zombies,
<!--  ^------------ meta.tag.xml -->
      an evil sorceress, and her own childhood to become queen
      of the world.</description>
<!--               ^------------- meta.tag.xml -->
   </book>
<!--<3---- meta.tag.xml -->
   <book id="bk103">
<!--<3-------------- meta.tag.xml -->
<!--     ^- entity.other.attribute-name.localname.xml -->
<!--        ^------ string.quoted.double.xml -->
<!--        ^ punctuation.definition.string.begin.xml -->
<!--              ^ punctuation.definition.string.end.xml -->
      <author>Corets, Eva</author>
<!--  ^------- meta.tag.xml -->
<!--                     ^-------- meta.tag.xml -->
      <title>Maeve Ascendant</title>
<!--  ^------ meta.tag.xml -->
<!--                        ^------- meta.tag.xml -->
      <genre>Fantasy</genre>
<!--  ^------ meta.tag.xml -->
<!--                ^------- meta.tag.xml -->
      <price>5.95</price>
<!--  ^------ meta.tag.xml -->
<!--             ^------- meta.tag.xml -->
      <publish_date>2000-11-17</publish_date>
<!--  ^------------- meta.tag.xml -->
<!--                          ^-------------- meta.tag.xml -->
      <description>After the collapse of a nanotechnology
<!--  ^------------ meta.tag.xml -->
      society in England, the young survivors lay the
      foundation for a new society.</description>
<!--                               ^------------- meta.tag.xml -->
   </book>
<!--<3---- meta.tag.xml -->
   <book id="bk104">
<!--<3-------------- meta.tag.xml -->
<!--     ^- entity.other.attribute-name.localname.xml -->
<!--        ^------ string.quoted.double.xml -->
<!--        ^ punctuation.definition.string.begin.xml -->
<!--              ^ punctuation.definition.string.end.xml -->
      <author>Corets, Eva</author>
<!--  ^------- meta.tag.xml -->
<!--                     ^-------- meta.tag.xml -->
      <title>Oberon's Legacy</title>
<!--  ^------ meta.tag.xml -->
<!--                        ^------- meta.tag.xml -->
      <genre>Fantasy</genre>
<!--  ^------ meta.tag.xml -->
<!--                ^------- meta.tag.xml -->
      <price>5.95</price>
<!--  ^------ meta.tag.xml -->
<!--             ^------- meta.tag.xml -->
      <publish_date>2001-03-10</publish_date>
<!--  ^------------- meta.tag.xml -->
<!--                          ^-------------- meta.tag.xml -->
      <description>In post-apocalypse England, the mysterious
<!--  ^------------ meta.tag.xml -->
      agent known only as Oberon helps to create a new life
      for the inhabitants of London. Sequel to Maeve
      Ascendant.</description>
<!--            ^------------- meta.tag.xml -->
   </book>
<!--<3---- meta.tag.xml -->
   <book id="bk105">
<!--<3-------------- meta.tag.xml -->
<!--     ^- entity.other.attribute-name.localname.xml -->
<!--        ^------ string.quoted.double.xml -->
<!--        ^ punctuation.definition.string.begin.xml -->
<!--              ^ punctuation.definition.string.end.xml -->
      <author>Corets, Eva</author>
<!--  ^------- meta.tag.xml -->
<!--                     ^-------- meta.tag.xml -->
      <title>The Sundered Grail</title>
<!--  ^------ meta.tag.xml -->
<!--                           ^------- meta.tag.xml -->
      <genre>Fantasy</genre>
<!--  ^------ meta.tag.xml -->
<!--                ^------- meta.tag.xml -->
      <price>5.95</price>
<!--  ^------ meta.tag.xml -->
<!--             ^------- meta.tag.xml -->
      <publish_date>2001-09-10</publish_date>
<!--  ^------------- meta.tag.xml -->
<!--                          ^-------------- meta.tag.xml -->
      <description>The two daughters of Maeve, half-sisters,
<!--  ^------------ meta.tag.xml -->
      battle one another for control of England. Sequel to
      Oberon's Legacy.</description>
<!--                  ^------------- meta.tag.xml -->
   </book>
<!--<3---- meta.tag.xml -->
   <book id="bk106">
<!--<3-------------- meta.tag.xml -->
<!--     ^- entity.other.attribute-name.localname.xml -->
<!--        ^------ string.quoted.double.xml -->
<!--        ^ punctuation.definition.string.begin.xml -->
<!--              ^ punctuation.definition.string.end.xml -->
      <author>Randall, Cynthia</author>
<!--  ^------- meta.tag.xml -->
<!--                          ^-------- meta.tag.xml -->
      <title>Lover Birds</title>
<!--  ^------ meta.tag.xml -->
<!--                    ^------- meta.tag.xml -->
      <genre>Romance</genre>
<!--  ^------ meta.tag.xml -->
<!--                ^------- meta.tag.xml -->
      <price>4.95</price>
<!--  ^------ meta.tag.xml -->
<!--             ^------- meta.tag.xml -->
      <publish_date>2000-09-02</publish_date>
<!--  ^------------- meta.tag.xml -->
<!--                          ^-------------- meta.tag.xml -->
      <description>When Carla meets Paul at an ornithology
<!--  ^------------ meta.tag.xml -->
      conference, tempers fly as feathers get ruffled.</description>
<!--                                                  ^------------- meta.tag.xml -->
   </book>
<!--<3---- meta.tag.xml -->
   <book id="bk107">
<!--<3-------------- meta.tag.xml -->
<!--     ^- entity.other.attribute-name.localname.xml -->
<!--        ^------ string.quoted.double.xml -->
<!--        ^ punctuation.definition.string.begin.xml -->
<!--              ^ punctuation.definition.string.end.xml -->
      <author>Thurman, Paula</author>
<!--  ^------- meta.tag.xml -->
<!--                        ^-------- meta.tag.xml -->
      <title>Splish Splash</title>
<!--  ^------ meta.tag.xml -->
<!--                      ^------- meta.tag.xml -->
      <genre>Romance</genre>
<!--  ^------ meta.tag.xml -->
<!--                ^------- meta.tag.xml -->
      <price>4.95</price>
<!--  ^------ meta.tag.xml -->
<!--             ^------- meta.tag.xml -->
      <publish_date>2000-11-02</publish_date>
<!--  ^------------- meta.tag.xml -->
<!--                          ^-------------- meta.tag.xml -->
      <description>A deep sea diver finds true love twenty
<!--  ^------------ meta.tag.xml -->
      thousand leagues beneath the sea.</description>
<!--                                   ^------------- meta.tag.xml -->
   </book>
<!--<3---- meta.tag.xml -->
   <book id="bk108">
<!--<3-------------- meta.tag.xml -->
<!--     ^- entity.other.attribute-name.localname.xml -->
<!--        ^------ string.quoted.double.xml -->
<!--        ^ punctuation.definition.string.begin.xml -->
<!--              ^ punctuation.definition.string.end.xml -->
      <author>Knorr, Stefan</author>
<!--  ^------- meta.tag.xml -->
<!--                       ^-------- meta.tag.xml -->
      <title>Creepy Crawlies</title>
<!--  ^------ meta.tag.xml -->
<!--                        ^------- meta.tag.xml -->
      <genre>Horror</genre>
<!--  ^------ meta.tag.xml -->
<!--               ^------- meta.tag.xml -->
      <price>4.95</price>
<!--  ^------ meta.tag.xml -->
<!--             ^------- meta.tag.xml -->
      <publish_date>2000-12-06</publish_date>
<!--  ^------------- meta.tag.xml -->
<!--                          ^-------------- meta.tag.xml -->
      <description>An anthology of horror stories about roaches,
<!--  ^------------ meta.tag.xml -->
      centipedes, scorpions  and other insects.</description>
<!--                                           ^------------- meta.tag.xml -->
   </book>
<!--<3---- meta.tag.xml -->
   <book id="bk109">
<!--<3-------------- meta.tag.xml -->
<!--     ^- entity.other.attribute-name.localname.xml -->
<!--        ^------ string.quoted.double.xml -->
<!--        ^ punctuation.definition.string.begin.xml -->
<!--              ^ punctuation.definition.string.end.xml -->
      <author>Kress, Peter</author>
<!--  ^------- meta.tag.xml -->
<!--                      ^-------- meta.tag.xml -->
      <title>Paradox Lost</title>
<!--  ^------ meta.tag.xml -->
<!--                     ^------- meta.tag.xml -->
      <genre>Science Fiction</genre>
<!--  ^------ meta.tag.xml -->
<!--                        ^------- meta.tag.xml -->
      <price>6.95</price>
<!--  ^------ meta.tag.xml -->
<!--             ^------- meta.tag.xml -->
      <publish_date>2000-11-02</publish_date>
<!--  ^------------- meta.tag.xml -->
<!--                          ^-------------- meta.tag.xml -->
      <description>After an inadvertant trip through a Heisenberg
<!--  ^------------ meta.tag.xml -->
      Uncertainty Device, James Salway discovers the problems
      of being quantum.</description>
<!--                   ^------------- meta.tag.xml -->
   </book>
<!--<3---- meta.tag.xml -->
   <book id="bk110">
<!--<3-------------- meta.tag.xml -->
<!--     ^- entity.other.attribute-name.localname.xml -->
<!--        ^------ string.quoted.double.xml -->
<!--        ^ punctuation.definition.string.begin.xml -->
<!--              ^ punctuation.definition.string.end.xml -->
      <author>O'Brien, Tim</author>
<!--  ^------- meta.tag.xml -->
<!--                      ^-------- meta.tag.xml -->
      <title>Microsoft .NET: The Programming Bible</title>
<!--  ^------ meta.tag.xml -->
<!--                                              ^------- meta.tag.xml -->
      <genre>Computer</genre>
<!--  ^------ meta.tag.xml -->
<!--                 ^------- meta.tag.xml -->
      <price>36.95</price>
<!--  ^------ meta.tag.xml -->
<!--              ^------- meta.tag.xml -->
      <publish_date>2000-12-09</publish_date>
<!--  ^------------- meta.tag.xml -->
<!--                          ^-------------- meta.tag.xml -->
      <description>Microsoft's .NET initiative is explored in
<!--  ^------------ meta.tag.xml -->
      detail in this deep programmer's reference.</description>
<!--                                             ^------------- meta.tag.xml -->
   </book>
<!--<3---- meta.tag.xml -->
   <book id="bk111">
<!--<3-------------- meta.tag.xml -->
<!--     ^- entity.other.attribute-name.localname.xml -->
<!--        ^------ string.quoted.double.xml -->
<!--        ^ punctuation.definition.string.begin.xml -->
<!--              ^ punctuation.definition.string.end.xml -->
      <author>O'Brien, Tim</author>
<!--  ^------- meta.tag.xml -->
<!--                      ^-------- meta.tag.xml -->
      <title>MSXML3: A Comprehensive Guide</title>
<!--  ^------ meta.tag.xml -->
<!--                                      ^------- meta.tag.xml -->
      <genre>Computer</genre>
<!--  ^------ meta.tag.xml -->
<!--                 ^------- meta.tag.xml -->
      <price>36.95</price>
<!--  ^------ meta.tag.xml -->
<!--              ^------- meta.tag.xml -->
      <publish_date>2000-12-01</publish_date>
<!--  ^------------- meta.tag.xml -->
<!--                          ^-------------- meta.tag.xml -->
      <description>The Microsoft MSXML3 parser is covered in
<!--  ^------------ meta.tag.xml -->
      detail, with attention to XML DOM interfaces, XSLT processing,
      SAX and more.</description>
<!--               ^------------- meta.tag.xml -->
   </book>
<!--<3---- meta.tag.xml -->
   <book id="bk112">
<!--<3-------------- meta.tag.xml -->
<!--     ^- entity.other.attribute-name.localname.xml -->
<!--        ^------ string.quoted.double.xml -->
<!--        ^ punctuation.definition.string.begin.xml -->
<!--              ^ punctuation.definition.string.end.xml -->
      <author>Galos, Mike</author>
<!--  ^------- meta.tag.xml -->
<!--                     ^-------- meta.tag.xml -->
      <title>Visual Studio 7: A Comprehensive Guide</title>
<!--  ^------ meta.tag.xml -->
<!--                                               ^------- meta.tag.xml -->
      <genre>Computer</genre>
<!--  ^------ meta.tag.xml -->
<!--                 ^------- meta.tag.xml -->
      <price>49.95</price>
<!--  ^------ meta.tag.xml -->
<!--              ^------- meta.tag.xml -->
      <publish_date>2001-04-16</publish_date>
<!--  ^------------- meta.tag.xml -->
<!--                          ^-------------- meta.tag.xml -->
      <description>Microsoft Visual Studio 7 is explored in depth,
<!--  ^------------ meta.tag.xml -->
      looking at how Visual Basic, Visual C++, C#, and ASP+ are
      integrated into a comprehensive development
      environment.</description>
<!--              ^------------- meta.tag.xml -->
   </book>
<!--<3---- meta.tag.xml -->
</catalog>
<!--<0---- meta.tag.xml -->

<!-- From https://learn.microsoft.com/en-us/previous-versions/windows/desktop/ms762271(v=vs.85) -->
<!--<0--------------------------------------------------------------------------------------------- comment.block.xml -->
