// grammar: source.cairo0

use starknet::ContractAddress;

#[starknet::interface]
pub trait IPizzaFactory<TContractState> {
    fn increase_pepperoni(ref self: TContractState, amount: u32);
    fn increase_pineapple(ref self: TContractState, amount: u32);
    fn get_owner(self: @TContractState) -> ContractAddress;
    fn change_owner(ref self: TContractState, new_owner: ContractAddress);
    fn make_pizza(ref self: TContractState);
    fn count_pizza(self: @TContractState) -> u32;
}

#[starknet::contract]
pub mod PizzaFactory {
    use super::IPizzaFactory;
    use starknet::ContractAddress;
    use starknet::get_caller_address;

    #[storage]
    pub struct Storage {
//      ^--------------- meta.function.cairo
//      ^----- storage.type.function.cairo
//             ^------ entity.name.function
        pepperoni: u32,
//<0------------------- meta.function.cairo
//<0------------------- source.cairo0
        pineapple: u32,
//<0------------------- meta.function.cairo
//<0------------------- source.cairo0
        owner: ContractAddress,
//<0--------------------------- meta.function.cairo
//<0--------------------------- source.cairo0
        pizzas: u32
//<0--------------- meta.function.cairo
//<0--------------- source.cairo0
    }
//<0- meta.function.cairo
//<0 source.cairo0
//  ^ storage.type.function.cairo

    #[constructor]
    fn constructor(ref self: ContractState, owner: ContractAddress) {
        self.pepperoni.write(10);
//                           ^- constant.numeric.decimal
        self.pineapple.write(10);
//                           ^- constant.numeric.decimal
        self.owner.write(owner);
    }


    #[event]
    #[derive(Drop, starknet::Event)]
    pub enum Event {
        PizzaEmission: PizzaEmission
    }

    #[derive(Drop, starknet::Event)]
    pub struct PizzaEmission {
//      ^--------------------- meta.function.cairo
//      ^----- storage.type.function.cairo
//             ^------------ entity.name.function
        pub counter: u32
//<0-------------------- meta.function.cairo
//<0-------------------- source.cairo0
    }
//<0- meta.function.cairo
//<0 source.cairo0
//  ^ storage.type.function.cairo

    #[abi(embed_v0)]
    impl PizzaFactoryimpl of super::IPizzaFactory<ContractState> {
        fn increase_pepperoni(ref self: ContractState, amount: u32) {
            assert!(amount != 0, "Amount cannot be 0");
//          ^----- keyword.other.meta
//                            ^ constant.numeric.decimal
//                               ^------------------- string.quoted.double
            self.pepperoni.write(self.pepperoni.read() + amount);
        }

        fn increase_pineapple(ref self: ContractState, amount: u32) {
            assert!(amount != 0, "Amount cannot be 0");
//          ^----- keyword.other.meta
//                            ^ constant.numeric.decimal
//                               ^------------------- string.quoted.double
            self.pineapple.write(self.pineapple.read() + amount);
        }

        fn make_pizza(ref self: ContractState) {
            assert!(self.pepperoni.read() > 0, "Not enough pepperoni");
//          ^----- keyword.other.meta
//                                          ^ constant.numeric.decimal
//                                             ^--------------------- string.quoted.double
            assert!(self.pineapple.read() > 0, "Not enough pineapple");
//          ^----- keyword.other.meta
//                                          ^ constant.numeric.decimal
//                                             ^--------------------- string.quoted.double

            let caller: ContractAddress = get_caller_address();
//          ^-- keyword.other.meta
            let owner: ContractAddress = self.get_owner();
//          ^-- keyword.other.meta

            assert!(caller == owner, "Only the owner can make pizza");
//          ^----- keyword.other.meta
//                                   ^------------------------------ string.quoted.double

            self.pepperoni.write(self.pepperoni.read() - 1);
//                                                       ^ constant.numeric.decimal
            self.pineapple.write(self.pineapple.read() - 1);
//                                                       ^ constant.numeric.decimal
            self.pizzas.write(self.pizzas.read() + 1);
//                                                 ^ constant.numeric.decimal

            self.emit(PizzaEmission { counter: self.pizzas.read() });
        }

        fn get_owner(self: @ContractState) -> ContractAddress {
            self.owner.read()
        }

        fn change_owner(ref self: ContractState, new_owner: ContractAddress) {
            self.set_owner(new_owner);
        }

        fn count_pizza(self: @ContractState) -> u32 {
            self.pizzas.read()
        }
    }

    #[generate_trait]
    pub impl InternalImpl of InternalTrait {
        fn set_owner(ref self: ContractState, new_owner: ContractAddress) {
            let caller: ContractAddress = get_caller_address();
//          ^-- keyword.other.meta
            assert!(caller == self.get_owner(), "Only the owner can set ownership");
//          ^----- keyword.other.meta
//                                              ^--------------------------------- string.quoted.double

            self.owner.write(new_owner);
        }
    }
}

// From https://github.com/github-linguist/linguist/blob/main/samples/Cairo/pizza_factory.cairo
//<0------------------------------------------------------------------------------------------- comment.line.sharp
