// grammar: source.gleam

import gleam/io
//<0-- keyword.control.gleam
//          ^ keyword.operator.arithmetic.int.gleam

pub fn main() {
//<0 keyword.control.gleam
//  ^- keyword.control.gleam
//     ^--- entity.name.function.gleam
  io.println("hello, friend!")
//   ^------ entity.name.function.gleam
//           ^--------------- string.quoted.double.gleam
}
