<!-- grammar: text.html.handlebars -->

<div class="entry">
<!--<0 keyword.operator.relational.ts -->
<!--<1 variable.other.readwrite.ts -->
<!-- ^---- variable.other.readwrite.ts -->
<!--      ^ keyword.operator.assignment.ts -->
<!--       ^------- string.quoted.double.ts -->
<!--       ^ punctuation.definition.string.begin.ts -->
<!--        ^---- variable.other.readwrite.ts -->
<!--             ^- string.quoted.double.ts -->
<!--             ^ punctuation.definition.string.begin.ts -->
<!--              ^ keyword.operator.relational.ts -->
  <h1>{{title}}</h1>
<!--<0-------------- string.quoted.double.ts -->
<!--<0-------------- string.quoted.double.ts -->
<!--<2 keyword.operator.relational.ts -->
<!--<3 variable.other.readwrite.ts -->
<!-- ^ keyword.operator.relational.ts -->
<!--  ^- punctuation.definition.block.ts -->
<!--    ^---- expression.ng -->
<!--    ^---- variable.other.readwrite.ts -->
<!--         ^- punctuation.definition.block.ts -->
<!--           ^ keyword.operator.relational.ts -->
<!--            ^ keyword.operator.arithmetic.ts -->
<!--             ^- variable.other.readwrite.ts -->
<!--               ^ keyword.operator.relational.ts -->
  {{#with story}}
<!--<0----------- string.quoted.double.ts -->
<!--<0----------- string.quoted.double.ts -->
<!--<2 punctuation.definition.block.ts -->
<!--^---------- expression.ng -->
<!-- ^--- variable.other.readwrite.ts -->
<!--      ^---- variable.other.readwrite.ts -->
<!--           ^- punctuation.definition.block.ts -->
    <div class="intro">{{{intro}}}</div>
<!--<0---------------------------------- string.quoted.double.ts -->
<!--<0---------------------------------- string.quoted.double.ts -->
<!--^ keyword.operator.relational.ts -->
<!-- ^-- variable.other.readwrite.ts -->
<!--     ^---- variable.other.readwrite.ts -->
<!--          ^ keyword.operator.assignment.ts -->
<!--           ^------------------------ string.quoted.double.ts -->
<!--           ^ punctuation.definition.string.begin.ts -->
<!--            ^---- variable.other.readwrite.ts -->
<!--                 ^------------------ string.quoted.double.ts -->
<!--                 ^ punctuation.definition.string.begin.ts -->
<!--                  ^ keyword.operator.relational.ts -->
<!--                   ^- punctuation.definition.block.ts -->
<!--                     ^----- expression.ng -->
<!--                      ^---- variable.other.readwrite.ts -->
<!--                           ^- punctuation.definition.block.ts -->
<!--                              ^ keyword.operator.relational.ts -->
<!--                               ^ keyword.operator.arithmetic.ts -->
<!--                                ^-- variable.other.readwrite.ts -->
<!--                                   ^ keyword.operator.relational.ts -->
    <div class="body">{{{body}}}</div>
<!--<0-------------------------------- string.quoted.double.ts -->
<!--<0-------------------------------- string.quoted.double.ts -->
<!--<0-------------------------------- string.quoted.double.ts -->
<!--<0-------------------------------- string.quoted.double.ts -->
<!--^ keyword.operator.relational.ts -->
<!-- ^-- variable.other.readwrite.ts -->
<!--     ^---- variable.other.readwrite.ts -->
<!--          ^ keyword.operator.assignment.ts -->
<!--           ^---------------------- string.quoted.double.ts -->
<!--           ^ punctuation.definition.string.begin.ts -->
<!--            ^--- variable.other.readwrite.ts -->
<!--                ^----------------- string.quoted.double.ts -->
<!--                ^ punctuation.definition.string.begin.ts -->
<!--                 ^ keyword.operator.relational.ts -->
<!--                  ^- punctuation.definition.block.ts -->
<!--                    ^---- expression.ng -->
<!--                     ^--- variable.other.readwrite.ts -->
<!--                         ^- punctuation.definition.block.ts -->
<!--                            ^ keyword.operator.relational.ts -->
<!--                             ^ keyword.operator.arithmetic.ts -->
<!--                              ^-- variable.other.readwrite.ts -->
<!--                                 ^ keyword.operator.relational.ts -->
  {{/with}}
<!--<0----- string.quoted.double.ts -->
<!--<0----- string.quoted.double.ts -->
<!--<0----- string.quoted.double.ts -->
<!--<0----- string.quoted.double.ts -->
<!--<0----- string.quoted.double.ts -->
<!--<0----- string.quoted.double.ts -->
<!--<2 punctuation.definition.block.ts -->
<!--^---- expression.ng -->
<!--^ keyword.operator.arithmetic.ts -->
<!-- ^--- variable.other.readwrite.ts -->
<!--     ^- punctuation.definition.block.ts -->
</div>
<!--<0 string.quoted.double.ts -->
<!--<0 string.quoted.double.ts -->
<!--<0 string.quoted.double.ts -->
<!--<0 string.quoted.double.ts -->
<!--<0 string.quoted.double.ts -->
<!--<0 string.quoted.double.ts -->
<!--<0 keyword.operator.relational.ts -->
<!--<1 keyword.operator.arithmetic.ts -->
<!--<2 variable.other.readwrite.ts -->
<!-- ^ keyword.operator.relational.ts -->
<div class="comments">
<!--<0---------------- string.quoted.double.ts -->
<!--<0---------------- string.quoted.double.ts -->
<!--<0---------------- string.quoted.double.ts -->
<!--<0---------------- string.quoted.double.ts -->
<!--<0---------------- string.quoted.double.ts -->
<!--<0---------------- string.quoted.double.ts -->
<!--<0 keyword.operator.relational.ts -->
<!--<1 variable.other.readwrite.ts -->
<!-- ^---- variable.other.readwrite.ts -->
<!--      ^ keyword.operator.assignment.ts -->
<!--       ^---------- string.quoted.double.ts -->
<!--       ^ punctuation.definition.string.begin.ts -->
<!--        ^------- variable.other.readwrite.ts -->
<!--                ^- string.quoted.double.ts -->
<!--                ^ punctuation.definition.string.begin.ts -->
<!--                 ^ keyword.operator.relational.ts -->
  {{#each comments}}
<!--<0-------------- string.quoted.double.ts -->
<!--<0-------------- string.quoted.double.ts -->
<!--<0-------------- string.quoted.double.ts -->
<!--<0-------------- string.quoted.double.ts -->
<!--<0-------------- string.quoted.double.ts -->
<!--<0-------------- string.quoted.double.ts -->
<!--<0-------------- string.quoted.double.ts -->
<!--<0-------------- string.quoted.double.ts -->
<!--<2 punctuation.definition.block.ts -->
<!--^------------- expression.ng -->
<!-- ^--- variable.other.readwrite.ts -->
<!--      ^------- variable.other.readwrite.ts -->
<!--              ^- punctuation.definition.block.ts -->
    <div class="comment">
<!--<0------------------- string.quoted.double.ts -->
<!--<0------------------- string.quoted.double.ts -->
<!--<0------------------- string.quoted.double.ts -->
<!--<0------------------- string.quoted.double.ts -->
<!--<0------------------- string.quoted.double.ts -->
<!--<0------------------- string.quoted.double.ts -->
<!--<0------------------- string.quoted.double.ts -->
<!--<0------------------- string.quoted.double.ts -->
<!--^ keyword.operator.relational.ts -->
<!-- ^-- variable.other.readwrite.ts -->
<!--     ^---- variable.other.readwrite.ts -->
<!--          ^ keyword.operator.assignment.ts -->
<!--           ^--------- string.quoted.double.ts -->
<!--           ^ punctuation.definition.string.begin.ts -->
<!--            ^------ variable.other.readwrite.ts -->
<!--                   ^- string.quoted.double.ts -->
<!--                   ^ punctuation.definition.string.begin.ts -->
<!--                    ^ keyword.operator.relational.ts -->
      <h2>{{subject}}</h2>
<!--<0-------------------- string.quoted.double.ts -->
<!--<0-------------------- string.quoted.double.ts -->
<!--<0-------------------- string.quoted.double.ts -->
<!--<0-------------------- string.quoted.double.ts -->
<!--<0-------------------- string.quoted.double.ts -->
<!--<0-------------------- string.quoted.double.ts -->
<!--<0-------------------- string.quoted.double.ts -->
<!--<0-------------------- string.quoted.double.ts -->
<!--<0-------------------- string.quoted.double.ts -->
<!--<0-------------------- string.quoted.double.ts -->
<!--  ^ keyword.operator.relational.ts -->
<!--   ^- variable.other.readwrite.ts -->
<!--     ^ keyword.operator.relational.ts -->
<!--      ^- punctuation.definition.block.ts -->
<!--        ^------ expression.ng -->
<!--        ^------ variable.other.readwrite.ts -->
<!--               ^- punctuation.definition.block.ts -->
<!--                 ^ keyword.operator.relational.ts -->
<!--                  ^ keyword.operator.arithmetic.ts -->
<!--                   ^- variable.other.readwrite.ts -->
<!--                     ^ keyword.operator.relational.ts -->
      {{{body}}}
<!--<0---------- string.quoted.double.ts -->
<!--<0---------- string.quoted.double.ts -->
<!--<0---------- string.quoted.double.ts -->
<!--<0---------- string.quoted.double.ts -->
<!--<0---------- string.quoted.double.ts -->
<!--<0---------- string.quoted.double.ts -->
<!--<0---------- string.quoted.double.ts -->
<!--<0---------- string.quoted.double.ts -->
<!--<0---------- string.quoted.double.ts -->
<!--<0---------- string.quoted.double.ts -->
<!--  ^- punctuation.definition.block.ts -->
<!--    ^---- expression.ng -->
<!--     ^--- variable.other.readwrite.ts -->
<!--         ^- punctuation.definition.block.ts -->
<!--           ^ invalid.illegal.newline.ts -->
    </div>
<!--<0---- string.quoted.double.ts -->
<!--<0---- string.quoted.double.ts -->
<!--<0---- string.quoted.double.ts -->
<!--<0---- string.quoted.double.ts -->
<!--<0---- string.quoted.double.ts -->
<!--<0---- string.quoted.double.ts -->
<!--<0---- string.quoted.double.ts -->
<!--<0---- string.quoted.double.ts -->
<!--<0---- string.quoted.double.ts -->
<!--^ keyword.operator.relational.ts -->
<!-- ^ keyword.operator.arithmetic.ts -->
<!--  ^-- variable.other.readwrite.ts -->
<!--     ^ keyword.operator.relational.ts -->
  {{/each}}
<!--<0----- string.quoted.double.ts -->
<!--<0----- string.quoted.double.ts -->
<!--<0----- string.quoted.double.ts -->
<!--<0----- string.quoted.double.ts -->
<!--<0----- string.quoted.double.ts -->
<!--<0----- string.quoted.double.ts -->
<!--<0----- string.quoted.double.ts -->
<!--<0----- string.quoted.double.ts -->
<!--<0----- string.quoted.double.ts -->
<!--<2 punctuation.definition.block.ts -->
<!--^---- expression.ng -->
<!--^ keyword.operator.arithmetic.ts -->
<!-- ^--- variable.other.readwrite.ts -->
<!--     ^- punctuation.definition.block.ts -->
</div>
<!--<0 string.quoted.double.ts -->
<!--<0 string.quoted.double.ts -->
<!--<0 string.quoted.double.ts -->
<!--<0 string.quoted.double.ts -->
<!--<0 string.quoted.double.ts -->
<!--<0 string.quoted.double.ts -->
<!--<0 string.quoted.double.ts -->
<!--<0 string.quoted.double.ts -->
<!--<0 string.quoted.double.ts -->
<!--<0 keyword.operator.relational.ts -->
<!--<1 keyword.operator.arithmetic.ts -->
<!--<2 variable.other.readwrite.ts -->
<!-- ^ keyword.operator.relational.ts -->

{{! From https://handlebarsjs.com/guide/block-helpers.html#the-with-helper }}
<!--<0----------------------------------------------------------------------- string.quoted.double.ts -->
<!--<0----------------------------------------------------------------------- string.quoted.double.ts -->
<!--<0----------------------------------------------------------------------- string.quoted.double.ts -->
<!--<0----------------------------------------------------------------------- string.quoted.double.ts -->
<!--<0----------------------------------------------------------------------- string.quoted.double.ts -->
<!--<0----------------------------------------------------------------------- string.quoted.double.ts -->
<!--<0----------------------------------------------------------------------- string.quoted.double.ts -->
<!--<0----------------------------------------------------------------------- string.quoted.double.ts -->
<!--<0----------------------------------------------------------------------- string.quoted.double.ts -->
<!--<0 punctuation.definition.block.ts -->
<!--<2--------------------------------------------------------------------- expression.ng -->
<!--<2 keyword.operator.logical.ts -->
<!--^--- variable.other.readwrite.ts -->
<!--     ^---- variable.other.readwrite.ts -->
<!--           ^- keyword.operator.arithmetic.ts -->
<!--             ^----------- variable.other.object.ts -->
<!--                         ^ punctuation.accessor.ts -->
<!--                          ^-- variable.other.property.ts -->
<!--                             ^ keyword.operator.arithmetic.ts -->
<!--                              ^---- variable.other.readwrite.ts -->
<!--                                   ^ keyword.operator.arithmetic.ts -->
<!--                                    ^---- variable.other.readwrite.ts -->
<!--                                         ^ keyword.operator.arithmetic.ts -->
<!--                                          ^------ variable.other.object.ts -->
<!--                                                 ^ punctuation.accessor.ts -->
<!--                                                  ^--- variable.other.property.ts -->
<!--                                                       ^-- variable.other.readwrite.ts -->
<!--                                                          ^ keyword.operator.arithmetic.ts -->
<!--                                                           ^--- variable.other.readwrite.ts -->
<!--                                                               ^ keyword.operator.arithmetic.ts -->
<!--                                                                ^----- variable.other.readwrite.ts -->
<!--                                                                       ^- punctuation.definition.block.ts -->
