<!-- grammar: text.html.twig -->

<!DOCTYPE html>
<!--<0 keyword.operator.relational.ts -->
<!--<1 keyword.operator.logical.ts -->
<!--<2--- constant.character.other -->
<!--      ^--- variable.other.readwrite.ts -->
<!--          ^ keyword.operator.relational.ts -->
<html>
<!--<0 keyword.operator.relational.ts -->
<!--<1 variable.other.readwrite.ts -->
<!-- ^ keyword.operator.relational.ts -->
    <head>
<!--^ keyword.operator.relational.ts -->
<!-- ^--- variable.other.readwrite.ts -->
<!--     ^ keyword.operator.relational.ts -->
        <title>My Webpage</title>
<!--    ^ keyword.operator.relational.ts -->
<!--     ^---- variable.other.readwrite.ts -->
<!--          ^ keyword.operator.relational.ts -->
<!--           ^- variable.other.readwrite.ts -->
<!--              ^------ variable.other.readwrite.ts -->
<!--                     ^ keyword.operator.relational.ts -->
<!--                      ^ keyword.operator.arithmetic.ts -->
<!--                       ^---- variable.other.readwrite.ts -->
<!--                            ^ keyword.operator.relational.ts -->
    </head>
<!--^ keyword.operator.relational.ts -->
<!-- ^ keyword.operator.arithmetic.ts -->
<!--  ^--- variable.other.readwrite.ts -->
<!--      ^ keyword.operator.relational.ts -->
    <body>
<!--^ keyword.operator.relational.ts -->
<!-- ^--- variable.other.readwrite.ts -->
<!--     ^ keyword.operator.relational.ts -->
        <ul id="navigation">
<!--    ^ keyword.operator.relational.ts -->
<!--     ^- variable.other.readwrite.ts -->
<!--        ^- variable.other.readwrite.ts -->
<!--          ^ keyword.operator.assignment.ts -->
<!--           ^------------ string.quoted.double.ts -->
<!--           ^ punctuation.definition.string.begin.ts -->
<!--            ^--------- variable.other.readwrite.ts -->
<!--                      ^- string.quoted.double.ts -->
<!--                      ^ punctuation.definition.string.begin.ts -->
<!--                       ^ keyword.operator.relational.ts -->
        {% for item in navigation %}
<!--<0------------------------------ string.quoted.double.ts -->
<!--<0------------------------------ string.quoted.double.ts -->
<!--     ^ keyword.operator.arithmetic.ts -->
<!--       ^-- variable.other.readwrite.ts -->
<!--           ^--- variable.other.readwrite.ts -->
<!--                ^- keyword.operator.expression.in.ts -->
<!--                   ^--------- variable.other.readwrite.ts -->
<!--                              ^ keyword.operator.arithmetic.ts -->
<!--                               ^ invalid.illegal.newline.ts -->
            <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
<!--<0--------------------------------------------------------------- string.quoted.double.ts -->
<!--        ^ keyword.operator.relational.ts -->
<!--         ^- variable.other.readwrite.ts -->
<!--           ^- keyword.operator.relational.ts -->
<!--             ^ variable.other.readwrite.ts -->
<!--               ^--- variable.other.readwrite.ts -->
<!--                   ^ keyword.operator.assignment.ts -->
<!--                    ^-------------------------------------------- string.quoted.double.ts -->
<!--                    ^ punctuation.definition.string.begin.ts -->
<!--                     ^- punctuation.definition.block.ts -->
<!--                       ^---------- expression.ng -->
<!--                        ^--- variable.other.object.ts -->
<!--                            ^ punctuation.accessor.ts -->
<!--                             ^--- variable.other.property.ts -->
<!--                                  ^- punctuation.definition.block.ts -->
<!--                                    ^---------------------------- string.quoted.double.ts -->
<!--                                    ^ punctuation.definition.string.begin.ts -->
<!--                                     ^ keyword.operator.relational.ts -->
<!--                                      ^- punctuation.definition.block.ts -->
<!--                                        ^------------- expression.ng -->
<!--                                         ^--- variable.other.object.ts -->
<!--                                             ^ punctuation.accessor.ts -->
<!--                                              ^------ variable.other.property.ts -->
<!--                                                      ^- punctuation.definition.block.ts -->
<!--                                                        ^ keyword.operator.relational.ts -->
<!--                                                         ^ keyword.operator.arithmetic.ts -->
<!--                                                          ^ variable.other.readwrite.ts -->
<!--                                                           ^- keyword.operator.relational.ts -->
<!--                                                             ^ keyword.operator.arithmetic.ts -->
<!--                                                              ^- variable.other.readwrite.ts -->
<!--                                                                ^ keyword.operator.relational.ts -->
        {% endfor %}
<!--<0-------------- string.quoted.double.ts -->
<!--<0-------------- string.quoted.double.ts -->
<!--<0-------------- string.quoted.double.ts -->
<!--     ^ keyword.operator.arithmetic.ts -->
<!--       ^----- variable.other.readwrite.ts -->
<!--              ^ keyword.operator.arithmetic.ts -->
<!--               ^ invalid.illegal.newline.ts -->
        </ul>
<!--<0------- string.quoted.double.ts -->
<!--<0------- string.quoted.double.ts -->
<!--    ^ keyword.operator.relational.ts -->
<!--     ^ keyword.operator.arithmetic.ts -->
<!--      ^- variable.other.readwrite.ts -->
<!--        ^ keyword.operator.relational.ts -->

        <h1>My Webpage</h1>
<!--<0--------------------- string.quoted.double.ts -->
<!--<0--------------------- string.quoted.double.ts -->
<!--    ^ keyword.operator.relational.ts -->
<!--     ^- variable.other.readwrite.ts -->
<!--       ^ keyword.operator.relational.ts -->
<!--        ^- variable.other.readwrite.ts -->
<!--           ^------ variable.other.readwrite.ts -->
<!--                  ^ keyword.operator.relational.ts -->
<!--                   ^ keyword.operator.arithmetic.ts -->
<!--                    ^- variable.other.readwrite.ts -->
<!--                      ^ keyword.operator.relational.ts -->
        {{ a_variable }}
<!--<0------------------ string.quoted.double.ts -->
<!--<0------------------ string.quoted.double.ts -->
<!--    ^- punctuation.definition.block.ts -->
<!--      ^----------- expression.ng -->
<!--       ^--------- variable.other.readwrite.ts -->
<!--                  ^- punctuation.definition.block.ts -->
    </body>
<!--<0----- string.quoted.double.ts -->
<!--<0----- string.quoted.double.ts -->
<!--^ keyword.operator.relational.ts -->
<!-- ^ keyword.operator.arithmetic.ts -->
<!--  ^--- variable.other.readwrite.ts -->
<!--      ^ keyword.operator.relational.ts -->
</html>
<!--<0- string.quoted.double.ts -->
<!--<0- string.quoted.double.ts -->
<!--<0 keyword.operator.relational.ts -->
<!--<1 keyword.operator.arithmetic.ts -->
<!--<2 variable.other.readwrite.ts -->
<!--  ^ keyword.operator.relational.ts -->

{# From https://twig.symfony.com/doc/3.x/templates.html #}
<!--<0---------------------------------------------------- string.quoted.double.ts -->
<!--<0---------------------------------------------------- string.quoted.double.ts -->
<!--<3- variable.other.readwrite.ts -->
<!--    ^---- variable.other.readwrite.ts -->
<!--          ^- keyword.operator.arithmetic.ts -->
<!--            ^--- variable.other.object.ts -->
<!--                ^ punctuation.accessor.ts -->
<!--                 ^------ variable.other.object.property.ts -->
<!--                        ^ punctuation.accessor.ts -->
<!--                         ^-- variable.other.property.ts -->
<!--                            ^ keyword.operator.arithmetic.ts -->
<!--                             ^-- variable.other.readwrite.ts -->
<!--                                ^ keyword.operator.arithmetic.ts -->
<!--                                  ^ punctuation.accessor.ts -->
<!--                                   ^ variable.other.property.ts -->
<!--                                    ^ keyword.operator.arithmetic.ts -->
<!--                                     ^-------- variable.other.object.ts -->
<!--                                              ^ punctuation.accessor.ts -->
<!--                                               ^--- variable.other.property.ts -->
<!--                                                     ^ invalid.illegal.newline.ts -->
